# Spark session

In [105]:
import findspark
findspark.init()

# import pyspark
# sc = pyspark.SparkContext(appName="AppName")

from pyspark.sql import SparkSession

    # .config("spark.driver.memory", "8g") \
    # .config("spark.executor.memory", "8g") \

spark = SparkSession.builder \
    .appName("PostgreSQL Connection with PySpark") \
    .config("spark.ui.showConsoleProgress", "false") \
    .config("spark.jars", "postgresql-42.6.0.jar") \
    .getOrCreate()

spark.sparkContext.setLogLevel(logLevel='ERROR')

# Spark Postgres connector

In [106]:
PG_DATABASE = 'malisarafi'
PG_USER = 'malisarafiuser'
PG_PASSWORD = 'chJ1L^nokFvga8'
PG_PORT = 5432
PG_HOST = '127.0.0.1'

properties = {
    "user": PG_USER,
    "password": PG_PASSWORD,
    "driver": "org.postgresql.Driver"
}

url = f"jdbc:postgresql://{PG_HOST}:{PG_PORT}/{PG_DATABASE}"

table_name = "news"

df = spark.read.jdbc(url=url, table=table_name, properties=properties)

In [107]:
df.show()

+-----+--------+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|   id| page_id|                 url|                head|          author|            category|                date|                tags|                text|             summary|
+-----+--------+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|29499|14324439|https://www.tgju....|                    |                |                    |                    |                    |                    |                    |
|29503|10874582|https://www.tgju....|                    |                |                    |                    |                    |                    |                    |
|29506|15316541|https://www.tgju....|                    |                |                    |                    |                    |                    |                    |
|32298| 2172793|https://www.tgju....|سناریوی کاهش نفت ...|     معصومه دانش|     اخبار طلا و سکه|دوشنبه 22 خرداد 1402|بهای نفت|نفت خام|...|به گزارششبکه اطلا...|از آنجا که نگرانی...|
|29513| 2402232|https://www.tgju....|                    |                |                    |                    |                    |                    |                    |
|35473|15139894|https://www.insta...|                    |                |                    |                    |                    |                    |                    |
|36785|13952421|https://telegram....|                    |                |                    |                    |                    |                    |                    |
|    3|      19|https://www.tgju....|خرس‌های طلا در کمین!|     معصومه دانش|     اخبار طلا و سکه|  یکشنبه 25 تیر 1402|بهای طلا|بهای نقر...|به گزارششبکه اطلا...|گرچه طلا قیمت‌های...|
|    4|      21|https://www.tgju....|چشم‌انداز بیت کوی...|امیر رضا مصطفایی|اخبار ارزهای دیجیتال|  یکشنبه 25 تیر 1402|ریپل|بیت کوین|اتر...|به گزارششبکه اطلا...|قیمت بیت‌کوین تحت...|
|    5|      23|https://www.tgju....|آیا اکنون وقت خری...|امیر رضا مصطفایی|اخبار ارزهای دیجیتال|  یکشنبه 25 تیر 1402|ریپل|کمیسیون بورس...|به گزارششبکه اطلا...|با انتشار خبری مب...|
|    6|      25|https://www.tgju....|                    |                |اخبار ارزهای دیجیتال|                    |                    |                    |                    |
|    7|    3673|https://www.tgju....|                    |                |                    |                    |                    |                    |                    |
|  799|    5892|https://www.tgju....|                    |                |                    |                    |                    |                    |                    |
|    9|    3680|https://www.tgju....|                    |                |                    |                    |                    |                    |                    |
|   10|      26|https://www.tgju....|                    |                |          اخبار ارزی|                    |                    |                    |                    |
|   11|      27|https://www.tgju....|                    |                |     اخبار طلا و سکه|                    |                    |                    |                    |
|  800|    5893|https://www.tgju....|                    |                |                    |                    |                    |                    |                    |
|   13|      28|https://www.tgju....|                    |                |      گزارش‌ بازارها|                    |                    |                    |                    |
|   14|      29|https://www.tgju....|                    |                |راهنمای جامع اندی...|                    |                    |                    |                    |
|   15|      30|https://www.tgju....|                    |                |     اخبار طلا و سکه|                    |                    |                    |                    |
+-----+--------+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

## News statistical info

In [108]:
query = f"(SELECT COUNT(*) FROM {table_name}) AS count"
row_count_df = spark.read \
    .jdbc(url=url, table=query, properties=properties)

# Extract the row count value
row_count = row_count_df.first()[0]
print(row_count)

14943

In [109]:
df.show

In [110]:
from pyspark.sql.types import DoubleType, IntegerType, StringType
from pyspark.sql.functions import mean, col, desc, count, isnull, isnan, when, rank, sum, trim
import pandas as pd
import matplotlib.pyplot as plt

In [111]:
display(df.dtypes)
df.printSchema()

[('id', 'int'),
 ('page_id', 'int'),
 ('url', 'string'),
 ('head', 'string'),
 ('author', 'string'),
 ('category', 'string'),
 ('date', 'string'),
 ('tags', 'string'),
 ('text', 'string'),
 ('summary', 'string')]

root
 |-- id: integer (nullable = true)
 |-- page_id: integer (nullable = true)
 |-- url: string (nullable = true)
 |-- head: string (nullable = true)
 |-- author: string (nullable = true)
 |-- category: string (nullable = true)
 |-- date: string (nullable = true)
 |-- tags: string (nullable = true)
 |-- text: string (nullable = true)
 |-- summary: string (nullable = true)

In [112]:
df.count()

14943

In [113]:
df.columns

['id',
 'page_id',
 'url',
 'head',
 'author',
 'category',
 'date',
 'tags',
 'text',
 'summary']

In [114]:
len(df.columns)

10

In [115]:
for column in ['author', 'category', 'date']:
    df.select(column).distinct().show()

+--------------------+
|              author|
+--------------------+
|    امیر رضا مصطفایی|
|         ادمین سیستم|
|            پشتیبانی|
|               ادمین|
|             اپراتور|
|نوشته‌های امیر رض...|
|    گروه تولید محتوا|
|نوشته‌های معصومه ...|
|                    |
|         معصومه دانش|
+--------------------+

+--------------------+
|            category|
+--------------------+
| اخبار تولید و تجارت|
|          اخبار ارزی|
|         اخبار خودرو|
|آموزش های ترید و ...|
|بازار ارزهای دیجی...|
|بازار ارزهای دیجی...|
| قوانین بازار رمزارز|
|        اخبار فناوری|
|          اخبار بورس|
|         اخبار بانکی|
|     اخبار طلا و سکه|
|اخبار ارزهای دیجیتال|
|      گزارش‌ بازارها|
|   اخبار نفت و انرژی|
|راهنمای جامع اندی...|
|       برترین برندها|
|          طلا و نقره|
|          اخبار مسکن|
|بازار ارزهای دیجی...|
|                    |
+--------------------+
only showing top 20 rows

+--------------------+
|                date|
+--------------------+
| چهارشنبه 21 دی 1401|
|  شنبه 27 اسفند 1401|
|سه شنبه 22 شهریور...|
|پنجشنبه 6 مرداد 1401|
| پنجشنبه 22 تیر 1402|
|     شنبه 17 دی 1401|
|سه شنبه 19 اردیبه...|
| دوشنبه 16 آبان 1401|
| دوشنبه 1 خرداد 1402|
|   پنجشنبه 1 دی 1401|
|سه شنبه 8 فروردین...|
| دوشنبه 30 آبان 1401|
| دوشنبه 17 بهمن 1401|
|  شنبه 13 خرداد 1402|
|دوشنبه 18 اردیبهش...|
| شنبه 6 فروردین 1401|
|دوشنبه 25 اردیبهش...|
| سه شنبه 29 آذر 1401|
|  جمعه 12 خرداد 1402|
|یکشنبه 21 خرداد 1402|
+--------------------+
only showing top 20 rows

In [116]:
for column in ['author', 'category', 'date']:
    result = df.groupBy(column).count().orderBy("count", ascending=False)
    display(result.toPandas())

                       author  count
0                              13208
1                 معصومه دانش    821
2            امیر رضا مصطفایی    533
3            گروه تولید محتوا    162
4                 ادمین سیستم     97
5                       ادمین     74
6                    پشتیبانی     40
7                     اپراتور      6
8  نوشته‌های امیر رضا مصطفایی      1
9       نوشته‌های معصومه دانش      1

                                          category  count
0                                                   10179
1                                  اخبار طلا و سکه    892
2                             اخبار ارزهای دیجیتال    683
3                                       اخبار ارزی    511
4                                   گزارش‌ بازارها    373
5                                اخبار نفت و انرژی    259
6                                      اخبار خودرو    257
7                                       اخبار بورس    245
8                                     اخبار فناوری    240
9                              اخبار تولید و تجارت    201
10                                      اخبار جهان    201
11                                     اخبار بانکی    198
12                                      اخبار مسکن    193
13                                   اخبار قیمت‌ها    191
14                        راهنمای جامع اندیکاتورها    135
15                        آموزش های ترید و معاملات     79
16                                   برترین برندها     40
17           بازار ارزهای دیجیتال / آموزش های پایه     33
18            بازار ارزهای دیجیتال / آموزش معاملات     15
19  بازار ارزهای دیجیتال / آموزش‌های توسعه‌دهندگان      7
20                                      طلا و نقره      6
21                                   تحلیل بازارها      3
22                             قوانین بازار رمزارز      1
23                                          آکادمی      1

                       date  count
0                            10531
1        جمعه 13 اسفند 1400    246
2        یکشنبه 25 تیر 1402    229
3      چهارشنبه 28 تیر 1402    216
4          شنبه 24 تیر 1402    215
..                      ...    ...
314  دوشنبه 15 فروردین 1401      1
315    سه شنبه 17 آبان 1401      1
316     چهارشنبه 9 آذر 1401      1
317     دوشنبه 3 مرداد 1401      1
318   یکشنبه 13 شهریور 1401      1

[319 rows x 2 columns]

In [117]:
empty_counts = df.select([count(when(trim(df[c]) == '', c)).alias(c) for c in df.columns]).toPandas().T
empty_counts.columns = ['Empty Count']
display(empty_counts)

          Empty Count
id                  0
page_id             0
url                 0
head            10531
author          13208
category        10179
date            10531
tags            13002
text            10549
summary         10718

In [118]:
for col_name in df.columns:
    df = df.withColumn(col_name, when(col(col_name) == "", None).otherwise(col(col_name)))

df = df.dropna()

In [119]:
df.count()

1597

In [120]:
df.show()

+-----+--------+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|   id| page_id|                 url|                head|          author|            category|                date|                tags|                text|             summary|
+-----+--------+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|32298| 2172793|https://www.tgju....|سناریوی کاهش نفت ...|     معصومه دانش|     اخبار طلا و سکه|دوشنبه 22 خرداد 1402|بهای نفت|نفت خام|...|به گزارششبکه اطلا...|از آنجا که نگرانی...|
|    3|      19|https://www.tgju....|خرس‌های طلا در کمین!|     معصومه دانش|     اخبار طلا و سکه|  یکشنبه 25 تیر 1402|بهای طلا|بهای نقر...|به گزارششبکه اطلا...|گرچه طلا قیمت‌های...|
|    4|      21|https://www.tgju....|چشم‌انداز بیت کوی...|امیر رضا مصطفایی|اخبار ارزهای دیجیتال|  یکشنبه 25 تیر 1402|ریپل|بیت کوین|اتر...|به گزارششبکه اطلا...|قیمت بیت‌کوین تحت...|
|    5|      23|https://www.tgju....|آیا اکنون وقت خری...|امیر رضا مصطفایی|اخبار ارزهای دیجیتال|  یکشنبه 25 تیر 1402|ریپل|کمیسیون بورس...|به گزارششبکه اطلا...|با انتشار خبری مب...|
|   30|      50|https://www.tgju....|تحلیل و پیش‌بینی ...|امیر رضا مصطفایی|اخبار ارزهای دیجیتال|  یکشنبه 25 تیر 1402|بیت‌کوین|ریپل|ارز...|به گزارششبکه اطلا...|پس از پیروزی نسبی...|
|   31|      54|https://www.tgju....|  طلا، ناکام در صعود|     معصومه دانش|     اخبار طلا و سکه|  یکشنبه 25 تیر 1402|دلار آمریکا|بهای ...|به گزارششبکه اطلا...|به دلیل کاهش بازد...|
|   32|      64|https://www.tgju....|یورو/دلار و رسیدن...|     معصومه دانش|          اخبار ارزی|  یکشنبه 25 تیر 1402|یورو|دلار آمریکا|...|به گزارششبکه اطلا...|در حالی که دلار آ...|
|   41|      80|https://www.tgju....|بدترین عملکرد برا...|     معصومه دانش|          اخبار ارزی|  یکشنبه 25 تیر 1402|دلار آمریکا|ین ژا...|به گزارششبکه اطلا...|دلار آمریکا که در...|
|  812|    7419|https://www.tgju....|ریپل در آستانه‌ی ...|امیر رضا مصطفایی|اخبار ارزهای دیجیتال|  یکشنبه 18 تیر 1402|ریپل|اندیکاتورهای...|به گزارششبکه اطلا...|قیمت ریپل در آیند...|
|  155|     196|https://www.tgju....|درس 117 : شاخص تج...|     معصومه دانش|راهنمای جامع اندی...|چهارشنبه 25 اسفند...|شاخص نوسان تجمیعی...|شاخص نوسان تجمیعی...|در این مطلب، اندی...|
|   49|      89|https://www.tgju....|آیا نقره، احتمال ...|     معصومه دانش|     اخبار طلا و سکه|    شنبه 24 تیر 1402|نقره|میانگین متحر...|به گزارششبکه اطلا...|در حالی که شاخص د...|
|   54|      94|https://www.tgju....|رشد 30 درصدی سولا...|امیر رضا مصطفایی|اخبار ارزهای دیجیتال|    شنبه 24 تیر 1402|سولانا|شاخص قیمت ...|به گزارششبکه اطلا...|رشد خیره‌کننده‌ی ...|
|   56|      98|https://www.tgju....| دنده معکوس بهای نفت|     معصومه دانش|     اخبار طلا و سکه|    شنبه 24 تیر 1402|نفت خام|نفت برنت|...|به گزارششبکه اطلا...|در پی تقویت بهای ...|
|36992|10078862|https://www.tgju....|جامعه‌ی دوج‌کوین ...|گروه تولید محتوا|اخبار ارزهای دیجیتال|  جمعه 13 اسفند 1400|دوج‌کوین|DOGE|Dog...|به گزارش شبکه اطل...|دوج‌کوین 53 هزار ...|
|   59|     102|https://www.tgju....|توصیه کیوساکی به ...|امیر رضا مصطفایی|اخبار ارزهای دیجیتال|    شنبه 24 تیر 1402|بیت‌کوین|رابرت کی...|به گزارششبکه اطلا...|رابرت کیوساکی، نو...|
|  158|     202|https://www.tgju....|درس 115 : اندیکات...|     معصومه دانش|راهنمای جامع اندی...|چهارشنبه 25 اسفند...|اندیکاتور وُرتکس|...|اندیکاتور وُرتکس ...|در این مطلب، اندی...|
|   62|     106|https://www.tgju....|تلاش شاخص دلار بر...|     معصومه دانش|          اخبار ارزی|    شنبه 24 تیر 1402|دلار آمریکا|شاخص ...|به گزارششبکه اطلا...|شاخص دلار آمریکا ...|
|   65|     111|https://www.tgju....|حکم دادگاه ریپل، ...|امیر رضا مصطفایی|اخبار ارزهای دیجیتال|    شنبه 24 تیر 1402|ریپل|جی پی مورگان...|به گزارششبکه اطلا...|دادگاه حکم داد ری...|
|   66|     115|https://www.tgju....|تحلیل و پیش‌بینی ...|امیر رضا مصطفایی|اخبار ارزهای دیجیتال|    شنبه 24 تیر 1402|ریپل|بیت‌کوین|اتر...|به گزارششبکه اطلا...|با صدور رای دادگا...|
|   67|     120|https://www.tgju....|طلا، مترصد حرکتی ...|     معصومه دانش|     اخبار طلا و سکه|    شنبه 24 تیر 1402|بهای طلا|حرکت قیم...|به گزارششبکه اطلا...|با وجود عقب‌نشینی...|
+-----+--------+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

# Kafka

In [121]:
# from kafka import KafkaConsumer

# consumer = KafkaConsumer(bootstrap_servers=['localhost:9092']) 
# topics = consumer.topics()

# for topic in topics:
#     print(topic)

In [122]:
from kafka import KafkaAdminClient
client = KafkaAdminClient(bootstrap_servers="localhost:9092")
topics = client.list_topics()

for topic in topics:
    print(topic)

client.delete_topics(topics)

news_from_step3

DeleteTopicsResponse_v3(throttle_time_ms=0, topic_error_codes=[(topic='news_from_step3', error_code=0)])

## Producer

In [123]:
from kafka import KafkaProducer
import os, random
from pyspark.sql import SparkSession
from pyspark.sql.types import DoubleType, IntegerType, StringType
from pyspark.sql.functions import mean, col, desc, count, isnull, isnan, when, rank, sum
import pandas as pd
import matplotlib.pyplot as plt


producer = KafkaProducer(bootstrap_servers='127.0.0.1:9092')

rdd = df.rdd.map(lambda column:
        '\t'.join([str(c) for c in column])
    )

# df=rdd.toDF()
# df.show()
for row in rdd.collect():
    producer.send('news_from_crawler', value=row.encode('utf-8'))

producer.close()

print(f'Sent {rdd.count()} lines in total.')

Sent 1597 lines in total.

## Consumer

In [124]:
from kafka import KafkaConsumer
from pyspark.sql.types import StructType, StructField, TimestampType, IntegerType, StringType
from pyspark.ml.linalg import VectorUDT
from pyspark.sql.functions import to_timestamp

schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("page_id", IntegerType(), True),
    StructField("url", StringType(), True),
    StructField("head", StringType(), True),
    StructField("author", StringType(), True),
    StructField("category", StringType(), True),
    StructField("date", StringType(), True),
    StructField("tags", StringType(), True),
    StructField("text", StringType(), True),
    StructField("summary", StringType(), True),
])

# offset: subscribe from beginning of time
consumer = KafkaConsumer('news_from_crawler', bootstrap_servers='127.0.0.1:9092', auto_offset_reset='earliest')

In [125]:
rows = []
while True:
    partition = ""
    for _, partition in consumer.poll(timeout_ms=5000, max_records=999999).items():
        for msg in partition:
            data = msg.value.decode('utf-8').split('\t')
            rows.append({
                "id": int(data[0]),
                "page_id": int(data[1]),
                "url": data[2],
                "head": data[3],
                "author": data[4],
                "category": data[5],
                "date": data[6],
                "tags": data[7],
                "text": data[8],
                "summary": data[9],
            })
            print(f'\r{len(rows)}', end='')
    if len(partition) == 0:
        break

# to df
df = spark.createDataFrame(rows, schema=schema)

1597

In [126]:
df.show()

+-----+--------+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|   id| page_id|                 url|                head|          author|            category|                date|                tags|                text|             summary|
+-----+--------+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|32298| 2172793|https://www.tgju....|سناریوی کاهش نفت ...|     معصومه دانش|     اخبار طلا و سکه|دوشنبه 22 خرداد 1402|بهای نفت|نفت خام|...|به گزارششبکه اطلا...|از آنجا که نگرانی...|
|    3|      19|https://www.tgju....|خرس‌های طلا در کمین!|     معصومه دانش|     اخبار طلا و سکه|  یکشنبه 25 تیر 1402|بهای طلا|بهای نقر...|به گزارششبکه اطلا...|گرچه طلا قیمت‌های...|
|    4|      21|https://www.tgju....|چشم‌انداز بیت کوی...|امیر رضا مصطفایی|اخبار ارزهای دیجیتال|  یکشنبه 25 تیر 1402|ریپل|بیت کوین|اتر...|به گزارششبکه اطلا...|قیمت بیت‌کوین تحت...|
|    5|      23|https://www.tgju....|آیا اکنون وقت خری...|امیر رضا مصطفایی|اخبار ارزهای دیجیتال|  یکشنبه 25 تیر 1402|ریپل|کمیسیون بورس...|به گزارششبکه اطلا...|با انتشار خبری مب...|
|   30|      50|https://www.tgju....|تحلیل و پیش‌بینی ...|امیر رضا مصطفایی|اخبار ارزهای دیجیتال|  یکشنبه 25 تیر 1402|بیت‌کوین|ریپل|ارز...|به گزارششبکه اطلا...|پس از پیروزی نسبی...|
|   31|      54|https://www.tgju....|  طلا، ناکام در صعود|     معصومه دانش|     اخبار طلا و سکه|  یکشنبه 25 تیر 1402|دلار آمریکا|بهای ...|به گزارششبکه اطلا...|به دلیل کاهش بازد...|
|   32|      64|https://www.tgju....|یورو/دلار و رسیدن...|     معصومه دانش|          اخبار ارزی|  یکشنبه 25 تیر 1402|یورو|دلار آمریکا|...|به گزارششبکه اطلا...|در حالی که دلار آ...|
|   41|      80|https://www.tgju....|بدترین عملکرد برا...|     معصومه دانش|          اخبار ارزی|  یکشنبه 25 تیر 1402|دلار آمریکا|ین ژا...|به گزارششبکه اطلا...|دلار آمریکا که در...|
|  812|    7419|https://www.tgju....|ریپل در آستانه‌ی ...|امیر رضا مصطفایی|اخبار ارزهای دیجیتال|  یکشنبه 18 تیر 1402|ریپل|اندیکاتورهای...|به گزارششبکه اطلا...|قیمت ریپل در آیند...|
|  155|     196|https://www.tgju....|درس 117 : شاخص تج...|     معصومه دانش|راهنمای جامع اندی...|چهارشنبه 25 اسفند...|شاخص نوسان تجمیعی...|شاخص نوسان تجمیعی...|در این مطلب، اندی...|
|   49|      89|https://www.tgju....|آیا نقره، احتمال ...|     معصومه دانش|     اخبار طلا و سکه|    شنبه 24 تیر 1402|نقره|میانگین متحر...|به گزارششبکه اطلا...|در حالی که شاخص د...|
|   54|      94|https://www.tgju....|رشد 30 درصدی سولا...|امیر رضا مصطفایی|اخبار ارزهای دیجیتال|    شنبه 24 تیر 1402|سولانا|شاخص قیمت ...|به گزارششبکه اطلا...|رشد خیره‌کننده‌ی ...|
|   56|      98|https://www.tgju....| دنده معکوس بهای نفت|     معصومه دانش|     اخبار طلا و سکه|    شنبه 24 تیر 1402|نفت خام|نفت برنت|...|به گزارششبکه اطلا...|در پی تقویت بهای ...|
|36992|10078862|https://www.tgju....|جامعه‌ی دوج‌کوین ...|گروه تولید محتوا|اخبار ارزهای دیجیتال|  جمعه 13 اسفند 1400|دوج‌کوین|DOGE|Dog...|به گزارش شبکه اطل...|دوج‌کوین 53 هزار ...|
|   59|     102|https://www.tgju....|توصیه کیوساکی به ...|امیر رضا مصطفایی|اخبار ارزهای دیجیتال|    شنبه 24 تیر 1402|بیت‌کوین|رابرت کی...|به گزارششبکه اطلا...|رابرت کیوساکی، نو...|
|  158|     202|https://www.tgju....|درس 115 : اندیکات...|     معصومه دانش|راهنمای جامع اندی...|چهارشنبه 25 اسفند...|اندیکاتور وُرتکس|...|اندیکاتور وُرتکس ...|در این مطلب، اندی...|
|   62|     106|https://www.tgju....|تلاش شاخص دلار بر...|     معصومه دانش|          اخبار ارزی|    شنبه 24 تیر 1402|دلار آمریکا|شاخص ...|به گزارششبکه اطلا...|شاخص دلار آمریکا ...|
|   65|     111|https://www.tgju....|حکم دادگاه ریپل، ...|امیر رضا مصطفایی|اخبار ارزهای دیجیتال|    شنبه 24 تیر 1402|ریپل|جی پی مورگان...|به گزارششبکه اطلا...|دادگاه حکم داد ری...|
|   66|     115|https://www.tgju....|تحلیل و پیش‌بینی ...|امیر رضا مصطفایی|اخبار ارزهای دیجیتال|    شنبه 24 تیر 1402|ریپل|بیت‌کوین|اتر...|به گزارششبکه اطلا...|با صدور رای دادگا...|
|   67|     120|https://www.tgju....|طلا، مترصد حرکتی ...|     معصومه دانش|     اخبار طلا و سکه|    شنبه 24 تیر 1402|بهای طلا|حرکت قیم...|به گزارششبکه اطلا...|با وجود عقب‌نشینی...|
+-----+--------+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

Close session

In [127]:
spark.sparkContext.stop()